<!-- Loan Request Section -->
<section class="page-section bg-light" id="bot-application" [@componentEffect]="componentState">
  <div class="container">

    <div class="row" style="height: 500px;">
      <div class="col-lg-6 mx-auto">

          <div class="card text-center h-100">
            <div class="card-body">
              <h5 class="card-title">Assistente Virtual Para Empréstimo</h5>
              <p class="card-text">Mensagens de texto aqui.</p>
            </div>
            <div class="card-footer text-muted">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Mensagem de Texto">
                </div>
                <div class="col-md-auto text-right">
                  <a href="#" class="btn btn-primary">Enviar</a>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>

  </div>
</section>