<!-- About Section -->
<section class="page-section bg-primary text-white" id="about" [@componentEffect]="componentState">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">Sobre Nós</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fa fa-money"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Form -->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">No Brasil, pagamos as tarifas e os juros mais altos do mundo pelos piores serviços bancários. <br>Nós sabemos que tecnologia e design podem resolver esse problema. <br>Por isso, nos unimos em 2013 para redefinir a relação das pessoas com o dinheiro, através de uma experiência mais eficiente e transparente. <br>Nosso objetivo é acabar com a complexidade e devolver o controle da vida financeira para cada um.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">No Brasil, pagamos as tarifas e os juros mais altos do mundo pelos piores serviços bancários. <br>Nós sabemos que tecnologia e design podem resolver esse problema. <br>Por isso, nos unimos em 2013 para redefinir a relação das pessoas com o dinheiro, através de uma experiência mais eficiente e transparente. <br>Nosso objetivo é acabar com a complexidade e devolver o controle da vida financeira para cada um.</p>
      </div>
    </div>

  </div>
</section>