  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase sticky-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" [routerLink]="['/home']">Loan App</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mt-2 mb-2 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/how-it-works']" routerLinkActive="active">Como Funciona?</a>
          </li>
          <li class="nav-item mx-0 mt-2 mb-2 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/loans']" routerLinkActive="active">Empréstimos</a>
          </li>
          <li class="nav-item mx-0 mt-2 mb-2 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/about']" routerLinkActive="active">Sobre</a>
          </li>
          <li class="nav-item mx-0 mt-2 mb-2 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/contact']" routerLinkActive="active">Contato</a>
          </li>
          <li class="nav-item mx-0 mt-2 mb-2 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/login']" routerLinkActive="active"><i class="fa fa-sign-in"></i> Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>