<!-- Masthead -->
<div class="page-section masthead bg-primary text-white text-center">
  <div class="container">
    <div class="container d-flex align-items-center flex-column" [@componentEffect]="componentState">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="assets/img/avatar-money-fly.png" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">FinanSic Empréstimos</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fa fa-money"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Solicite o seu emprestimo em 5 minutos sem burocracia</p>

    </div>
  </div>
</div>

<br>
<app-how-it-works></app-how-it-works>
